In [1]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [2]:
import pandas as pd

In [8]:
data = pd.DataFrame({
    "Nome": ["Rossi, Mario",
             "Bianchi, Giulio",
             "Verdi, Antonio",
             "Rossi, Laura",
             "Neri, Andrea",
             "Neri, Marco",
             "Mauri, Giovanna",
             "Villa, Luca",
             "Boldi, Mario",
             "Nava, Marta",
            ],
    "Età": [17, 24, 67, 51, 24, 37, 19, 89, 43, 74],
    "Altezza": [161,167, 168, 160, 187, 171, 176, 165, 168, 180],
    "Peso": [60, 70, 68, 75, 84, 63, 86, 90, 79, 69],
    "Regione": ["Lombardia",
                "Lazio",
                "Lazio",
                "Piemonte",
                "Trentino Alto Adige",
                "Lombardia",
                "Puglia",
                "Veneto",
                "Sicilia",
                "Veneto"
               ],
})
data

              Nome  Età  Altezza  Peso              Regione
0     Rossi, Mario   17      161    60            Lombardia
1  Bianchi, Giulio   24      167    70                Lazio
2   Verdi, Antonio   67      168    68                Lazio
3     Rossi, Laura   51      160    75             Piemonte
4     Neri, Andrea   24      187    84  Trentino Alto Adige
5      Neri, Marco   37      171    63            Lombardia
6  Mauri, Giovanna   19      176    86               Puglia
7      Villa, Luca   89      165    90               Veneto
8     Boldi, Mario   43      168    79              Sicilia
9      Nava, Marta   74      180    69               Veneto